ansible==2.10.7
ansible-base==2.10.17
appdirs==1.4.4
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==2.8
decorator==4.4.2
dogpile.cache==1.1.8
idna==3.4
iso8601==1.1.0
Jinja2==2.11.3
jmespath==0.9.5
jsonpatch==1.32
jsonpointer==2.3
keystoneauth1==5.0.0
MarkupSafe==1.1.1
munch==2.5.0
netaddr==0.7.19
netifaces==0.11.0
openstacksdk==0.55.1
os-service-types==1.7.0
packaging==21.3
pbr==5.4.4
pycparser==2.21
pyparsing==3.0.9
PyYAML==6.0
requests==2.28.1
requestsexceptions==1.4.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.3
six==1.16.0
stevedore==4.0.0
urllib3==1.26.12
