#!/bin/sh

{% if ansible_hostname == cluster_name | lower + '-master' %}
RESULT=`systemctl is-active slurmctld.service`
{% else %}
RESULT=`systemctl is-active slurmd.service`
{% endif %}

if [ "$RESULT" = "active" ]; then
    echo "ACTIVE"
    exit 0
fi

echo "FAILED"
exit 2