c.ServerApp.ip = "*"
c.ServerApp.port = {{ jupyter_access_port }}
c.ServerApp.token = ""
c.ServerApp.open_browser = False
c.ExtensionApp.open_browser = False
c.ServerApp.root_dir = "{{ jupyter_nb_dir }}"
