[Unit]
Description=Apache Livy
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User={{ jupyter_user }}
Group={{ jupyter_user }}
Type=forking
WorkingDirectory={{ jupyter_livy_dir }}
ExecStart={{ jupyter_livy_dir }}/bin/livy-server start
ExecStop={{ jupyter_livy_dir }}/bin/livy-server stop
Environment=SPARK_HOME={{ jupyter_spark_home }}
Environment=HADOOP_CONF_DIR={{ jupyter_hadoop_conf_dir }}
TimeoutSec=30
Restart= on-failure
RestartSec= 30
StartLimitInterval=350
StartLimitBurst=10
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target