deb {{ apt_mirror_address }}/ubuntu {{ ansible_distribution_release }} main universe
deb {{ apt_mirror_address }}/ubuntu {{ ansible_distribution_release }}-security main universe
deb {{ apt_mirror_address }}/ubuntu {{ ansible_distribution_release }}-backports main univesre
deb {{ apt_mirror_address }}/ubuntu {{ ansible_distribution_release }}-proposed main universe
deb {{ apt_mirror_address }}/ubuntu {{ ansible_distribution_release }}-updates main universe
