{
  "service": {
    "name": "postgresql-service",
    "tags": [
      "postgresql"
    ]
  },
  "checks":
  [
    {
      "id": "postgresql-check-id",
      "name": "{{ ansible_hostname }}-check",
      "tcp": "{{ hostvars[ansible_hostname].openstack.private_v4 }}:5432",
      "interval": "{{ postgresql_health_interval }}",
      "timeout": "{{ postgresql_health_timeout }}"
    }
  ]
}