{
  "service": {
    "name": "slurm-service",
    "tags": [
      "slurm"
    ]
  },
  "checks":
  [
    {
      "id": "slurm-check-id",
      "name": "{{ ansible_hostname }}-check",
      "args": ["{{ consul_bin_dir }}/slurm_check.sh"],
      "interval": "{{ slurm_health_interval }}",
      "timeout": "{{ slurm_health_timeout }}"
    }
  ]
}